.App {
  text-align: center;
  background: #cfecfe;
}
form {
  padding-left: 10%;
  width:200px;
}
input{
  padding-left: 20%;
}
.list-group{
 
  padding-left: 20%;

}
button{
  text-align: center;
  background: #cfecfe;
 width: 100px;
}
.title {
  text-align: center;
  background: #cfecfe;
 width: 100%;
}
.form-control{
  border: 5px solid black;
  font-size:2rem;
} 
.list-group-item {
  text-align: center;
  background: #cfecfe;

 max-width: 10px;
}


.App-header {
  background-color:white;
  height: 150px;
  padding: 20px;
  color:black;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
